<div class="containerGeneral">
  <div class="containerFilters">
    <input
      class="filter"
      type="text" 
      placeholder="ID or Name" 
      (input)="handleSearch($event)"
    />
  </div>

  <div class="containerTable">
    <div class="titles">
      <div class="titles_id">ID</div>
      <div class="titles_name">Name</div>
      <div class="titles_description">Description</div>
    </div>

    @defer (on viewport) {
      @for (hero of paginatedHeroes(); track hero.id) {
        <div class="item">
          <div class="item_id">{{ hero.id }}</div>
          <div class="item_name">{{ hero.name }}</div>
          <div class="item_description">{{ hero.description ? hero.description : '-' }}</div>
          <div class="item_actions">
            <mat-icon mat-icon class="item_actions_edit" (click)="redirectToUrl('/edit/', hero)" matTooltip="Edit Hero"> 
              edit
            </mat-icon>
            <mat-icon mat-button class="item_actions_delete" (click)="viewModal(hero)" matTooltip="Delete Hero">
              delete
            </mat-icon>
          </div>
        </div>
      }

      @if(getTotalHeroes() > 0) {
        <div class="paginator">
          <div class="totalPages">
            <p>Items per page:</p>
            <input
              class="totalPages_input"
              type="text" 
              placeholder="0" 
              (input)="changeTotalItems($event)"
              [value]="pageSize()"
            />
          </div>
          <mat-paginator 
            (page)="handlePageEvent($event)"
            [hidePageSize]="true"
            aria-label="Select page"
            [pageIndex]="pageIndex()"
            [length]="getTotalHeroes()"
            [pageSize]="pageSize()">
          </mat-paginator>
        </div>
      } @else {
        <div class="containerBottom">
          <p>There are no heroes available.</p>
        </div>
      }
    } @placeholder {
      <div class="containerBottom">
        <p>Loading...</p>
      </div>
    } @error {
      <div class="containerBottom">
        <p>Error.</p>
      </div>
    }
  </div>
</div>

@if(showModal){
  <app-hero-modal
      (closeModal)="modalFunction($event)"
      [heroData]="itemSelected"
  />
}